#preloader {
  position: absolute;
  z-index: 9999999999;
  inset: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  #preloader {
    background: #000;
  }
}

#preloader::before {
  width: 48px;
  height: 48px;
  animation: pulse 1s infinite;
  content: url(@assets/mark.svg);
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.loaded {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
