@import "tailwindcss";

@layer theme {
    @theme {
        --default-font-family: 'Rajdhani', var(--font-family-sans);
    }
}

@layer base {
    :root{
        --font-family-rajdhani: 'Rajdhani', var(--font-family-sans);
        --font-family-figtree: 'Figtree Variable', var(--font-family-sans);
    }

    [x-cloak] {
        @apply hidden;
    }
}

@layer components {
    .app {
        &-brand {
            content: url('@images/logo.svg');
        }
    }
}
